.diagram {
    border: 2px #7ad6ff solid;
    border-radius: 5%;
    margin-right: 2%;
}


.diagram-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
}

.diagrams {
    /*float: right;*/
    display: flex;

    margin-top: 1%;
}

.statistic {
    margin-right: 3%;
    float: right;
}