.offer {
    border: 1px inset #73899c;
    position: relative;
}

.offers {
    display: inline-flex;
}

.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.file-picker-button input{
    opacity: 0;
    z-index: 90;
    width: 90px;
    height: 36px;
    position: absolute;
}

.offer-description {
    float: right;
    max-width: 150px;
}

.offer-info {
    margin-bottom: 4px;
}

.modal-dialog {
    width: 400px;
}

.dialog-textarea {

}

.file-input {
    color: white !important;
}