.offer {
    border: 1px inset #73899c;
    position: relative;
    margin: 10px;
    padding: 10px;
    min-width: 300px;
}

.content {
    width: 100%;
}

.offers {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    margin: 3%;
}

@media (min-width: 300px) {
    .offers {
        display: grid;
        grid-template-columns: 200px;
        margin-right: 5%;
    }
}

@media (min-width: 600px) {
    .offers {
        display: grid;
        grid-template-columns: 450px;
        margin-right: 5%;
        margin-left: 100px;
    }
}

@media (min-width: 900px) {
    .offers {
        display: grid;
        grid-template-columns: 450px 450px;
        margin-right: 5%;
    }
}

@media (min-width: 1200px) {
    .offers {
        display: grid;
        grid-template-columns: 500px 500px;
        margin-right: 5%;
    }
}

@media (min-width: 1400px) {
    .offers {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        margin-right: 5%;
    }
}

@media (min-width: 1600px) {
    .offers {
        display: grid;
        grid-template-columns: 400px 400px 400px 400px;
        margin: 3%;
    }
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
}



.offer-description {
    float: left;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    max-height: 160px;
    max-width: 200px;
}

.offer-description:hover {
    position: absolute;
    height: auto;
}

.offer-name {
    padding-bottom: 10px;
    font-size: 20px;
    color: #f6d3ff
}


.offer-info {
    margin-bottom: 4px;
}

.modal-dialog {
    width: 400px;
}

.dialog-textarea {

}

.file-input {
    color: white;
}
