


.column-value {
    margin-left: 5%;
}

.statistic-wrapper {
  padding: 10px;
  margin: 10px;
}

.statistic-header {
  text-align: center;
  font-size: 30px;
}

.page {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: baseline;*/
    position: relative;
    height: 815px;
    min-height: 815px;
    overflow: auto;
}

.navigation-link {
    text-decoration: none;
    border: 0;
    color: white;
    margin-right: 10px;
}



.page-links {

}
